header{
  background-color: #004902;

}

#logo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body{
  font-family: 'Bree Serif';
  font-size: 32px;
  margin: 0;
  border-size: 5px;
  border-color: #186329;
  background-color: #017c04;
}

.main_container{
  display: flex;
  background-color: #017c04;
  justify-content: center;
  align-items: center;
}

.card_table{
display: flex;
justify-content: flex-start;
}

#remove_stuff{
  display: flex;
  text-align: center;
  justify-content: center;
}

.rb{
  margin: 8;
}


.deal{
    position:fixed;
    bottom:0;
    right:0;
    margin: auto;
}

tr{
width:500px;
}

td{
width:100px;
height:20px;
text-align:center;
color: #000000;
}

.title{
font-weight: bold;
color: #000000;
}

.cardLocation{
width: 100px;
background-color: #017c04;
}

#title_remove{
text-align: center;
font-size: 25px;
}