header{
  background-color: #004902;

}

#logo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body{
  font-family: 'Bree Serif';
  font-size: 32px;
  margin: 0;
  border-size: 5px;
  border-color: #186329;
  background-color: #017c04;
}

.main_container{
  display: flex;
  background-color: #017c04;
  justify-content: center;
  align-items: center;
}

.card_table{
display: flex;
justify-content: flex-start;
}

#remove_stuff{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
}

#move_line{
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 15px;
  margin: 20px;

}

.rb{
  margin: 8;
}

.deal{
  text-align: center;
}

#card_image{
    width: 150px;;
    height: auto;
}

.newgame{
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.score{
    font-family: sans-serif;
    color: #fff;
    font-size: 10px;
    margin: 3em;
    padding: 0;
    justify-content: center;
    align-items: center;
    display: flex;

}

tr{
width:500px;
}

td{
width:100px;
height:20px;
text-align:center;
color: #000000;
}

.title{
font-weight: bold;
color: #000000;
}

.cardLocation{
width: 100px;
background-color: #017c04;
}