body {
  font-family: 'Bree Serif'; font-size: 32px;
  font-size: 12px;
  margin: 0;
  border: 5px;
  border-color: #186329;
  background-image: (swebackground1.jpg);
  background-color: white;
}

tr{
width:500px;
}

td{
width:100px;
height:20px;
text-align:center;
color: #000000;
}

.title{
font-weight: bold;
color: #000000;
}

.cardLocation{
width: 100px;
background-color:#F0F0F0;
}

